@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=IBM+Plex+Mono&family=Noto+Sans:wght@700&family=Roboto+Condensed&display=swap');

:root{
  --cor-principal: #E0749B;
  --cor-secundaria: #D1954F;
}


* {
  font-family: 'Dongle', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 




